* {
    font-family: "Helvetica", serif;
    background-color: #212121;
    color: #E0E0E0;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #424242;
}

h1, div {
    text-align: center;
}
